.search-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 10%;
}

.username {
	text-align: center;
	color: black;
	border: solid black 1px;
	width: 13rem;
	margin: 1rem;
	padding: 0.5rem;
	font-size: 16px;
}

.username:hover {
	border: solid #8400ff 2px;
}

.username:focus {
	border: solid #8400ff 1px;
}

.btn-availability {
	padding: 0.5rem;
	color: white;
	background-color: #8400ff;
	font-size: 16px;
	border-radius: 0.3rem;
}

.btn-availability:hover {
	cursor: pointer;
	background-color: white;
	color: #8400ff;
	transition: 100ms;
}

.reportSections {
	height: 30%;
	width: 90%;
}

.reportText {
	font-size: 1.2rem;
	color: white;
	margin-right: 0.2rem;
}

.report-btn {
	padding: 0.2rem;
}
.report-btn:hover {
	cursor: pointer;
	background-color: white;
	color: #8400ff;
	transition: 100ms;
}

.report-text {
	margin-right: 0.5rem;
	display: inline;
}

.details {
	margin-top: 0.3rem;
	display: inline;
	margin-right: 0.5rem;
}

.repositories,
.followers,
.following {
	margin-left: 0.4rem;
}

@media print {
	.report-input {
		display: none;
	}
}
