* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #282828;
}

#root {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 320px) {
	.title {
		font-size: 2rem;
	}
	.description {
		font-size: 1rem;
	}
	.company {
		word-wrap: normal;
		width: 70%;
		font-size: 0.7rem;
		padding: 0.3rem;
	}
}

@media screen and (max-width: 426px) and (min-width: 321px) {
	.title {
		font-size: 3rem;
	}

	.description {
		font-size: 1rem;
	}

	.company {
		font-size: 0.8rem;
		width: 65%;
		padding: 0.5rem;
		margin : 0.8rem;
	}
}
